#preloaderContainer
{
	background-color: white;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

#preloader
{
	margin: auto; 
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}