<link rel="stylesheet" type="text/css" href="CSS/inbox.css">
<div id="profile" ng-controller="profileController">
    <div class="row">
        <div class="col-xs-12 text-capitalize">
            {{ pageHeading }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-4" style="border:1px solid yellow">
            <div class="row">
                <div class="col-xs-12">
                    <div class="img-circle img-responsive"></div>
                    <span></span>
                    <small></small>
                    <div>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                    <button type="button" class="btn btn-default text-capitalize">compose</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</div>